<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> NodeJS/SocketIO </title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="jquery-3.6.0.min.js"></script>
        <script>
        var socket = io("http://localhost:3000");

        socket.on("server-send-dangki-thatbai", function(data) {
            alert("Username: " + data +  " is already taken")
        })

        socket.on("server-send-dangki-thanhcong", function(data) {
            var s = "<div socketid='"+data.id+"' class='motUser'>" + data.username + "</div>"
            $("#danhsachUserOnline").append(s);
        })

        socket.on("server_gui_message", function(data) {
            var hoten = "<span class='hoten'>" + data.Username + ": </span>";
            var msg = "<span class='msg'>" + data.msg + "</span>";
            $("#dsMsg").append(hoten + msg + "<div class='block'></div>");
        });

        $(document).ready(function() {
            $("#btnDangki").click(function() {
                socket.emit("client_gui_username", $("#txtUser").val());
            });
            $("#btnChat").click(function(){
                socket.emit("client_gui_message", $('#txtMessage').val());
                $("#txtMessage").val("");
            });
        });
        </script>
        <link rel="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
        <div id="wrapper">
            <h1>Demo Chat Socket IO - Node JS </h1>
            <input type="text" id="txtUser" placeholder="Username" />
            <input type="button" id="btnDangki" value="Register" />
            <div class="block"></div>
            <div id="left">
                <div id="title">Users Online</div>
                <div id="danhsachUserOnline"></div>
            </div>
            <div id="right">
                <div id="dsMsg"></div>
                <div class="block"></div>
                <input type="text" id="txtMessage" placeholder="Message..." />
                <input type="button" id="btnChat" value="Chat" />
            </div>
        </div>
    </body>
</html>
